<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=azuredemo0101011;AccountKey=Z2fkk5Miw6sp5SXIFmTQ6EJEM8tPAoWOFPw9CPdFGJqFdpd+33mdyc+6LcffcZOuHADs/EBtjh0sAg724ToYOw==;EndpointSuffix=core.windows.net" />-->
		<add key="StorageConnection" value="UseDevelopmentStorage=true" />
	</appSettings>
</configuration>